 /* Reset and base styles  */
 * {
	padding: 0px;
	margin: 0px;
	border: none;
 }
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

video{
    position: relative;
    z-index: 1;
}
body::-webkit-scrollbar {
    display: none;
  }
.header{
    position: relative;
    padding: 11px 23px 0px 9px;
    background-color: #000;

}
.gap-fill{
    width: 100%;
    height: 5.45vw;
    background-color: #000;
}
.header__content{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.header__content__flex__items__content{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}
.header__content__flex__items__content p{
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8.55vw;
    color: #fff;
}
.hole{
      width: 12vw;
      height: 5vw;
      position: relative;
      background: transparent;
}
.hole-last{
    width: 54vw;
}
